/*same CSS file for all html pages*/

body {
    background-color:lightgray;
}

h1{
    color: lightsalmon;
    text-align: center;
}

/*Nav Bar Styling*/
#Name {
    color: lightsalmon;
    font-size: 32px;
}

/*Footer Styling*/
.text-center {
    text-align: center;
    color:lightsalmon;
    margin-top: 20px;
}

img{
    max-width: 90%;
}

#Cheers {
    margin-top: 10px;
    width: 50px;
    align-content: center;
}

/*About Me Styling*/

#AboutMeImage {
    width: 500px;
    align-items: center; 
}

.rowTOP {
    margin-top: 20px;
}

.AboutText {
    color: lightsalmon;
}

/*Portfolio Styling*/

#carouselExampleCaptions {
    width: 750px;
    max-width: 95%;
}

#row-project {
    margin-top: 50px;
    margin-bottom:40px;
}

#CodeRefractor{
    height: 500px;
    width: 500px;
}

#Shrine{
    height: 500px;
    width: 500px;
}

h6 {
    text-align: center;
}
